.lego-pieces-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background-color: #f8f9fa; /* Light background for better contrast */
}

.search-results {
    max-height: 200px;
    overflow: auto;
    background-color: #fff; /* White background for search results */
    border: 1px solid #ccc; /* Light border for definition */
    border-radius: 5px;

    ul {
        padding: 0 10px;

        li {
            list-style: none;
            padding: 5px 0;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                background-color: #f0f0f0; /* Light gray on hover */
            }
        }
    }
}