<div class="lego-pieces-container">
    <div class="lego-header">
        <h1>Piezas de Lego</h1>
        <button>Agregar Nueva Pieza</button>
    </div>
    <div class="lego-search">
        <div class="search-code">
            <input #searchInput type="number" placeholder="Buscar Pieza" (input)="onSearchInput($event)" />
        </div>
        <div class="search-by">
            <select (change)="onSearchByChange($event)">
                <option value="" disabled selected>Seleccionar...</option>
                <option value="codigo-set">Código Set</option>
                <option value="lego-set">Lego Set</option>
                <option value="task">Bolsa</option>
                <option value="pedido">Pedido</option>
                <option value="completo">Completo</option>
                <option value="reemplazado">Reemplazado</option>
            </select>
            <input #searchByInput type="text" placeholder="Buscar..." (input)="onSearchOptionInput($event)" />
        </div>
        <div class="search-by-results" [ngStyle]="{'display': showSearchOptions ? 'block' : 'none'}">
            <ul>
                <li *ngFor="let option of searchOptions" (click)="onOptionSelected(option)">{{ option[selectedSearchBy]
                    }}</li>
            </ul>
        </div>
    </div>
    <div class="lego-table">
        <table>
            <thead>
                <tr>
                    <th *ngFor="let header of tableHeaders">{{ header }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let piece of legoPieces">
                    <td>
                        <div class="image-cell pieza">
                            <img [src]="piece.image" alt="Imagen de la Pieza" />
                        </div>
                    </td>
                    <td>{{ piece.code }}</td>
                    <td>{{ piece.lego }}</td>
                    <td>{{ piece.set }}</td>
                    <td>
                        <div class="image-cell set">
                            <img [src]="piece.image_set" alt="Imagen del Set" />
                        </div>
                    </td>
                    <td>{{ piece.cant }}</td>
                    <td>{{ piece.task }}</td>
                    <td>{{ piece.pedido }}</td>
                    <td>{{ piece.completo }}</td>
                    <td>{{ piece.reemplazado }}</td>
                    <td>
                        <div class="actions">
                            <button class="btn btn-primary" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal" (click)="openEditModal(piece)">Editar</button>
                            <button class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Editar Pieza de Lego</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editForm" class="edit-form">
                        <ng-container *ngFor="let field of editFormFields" class="form-group">
                            <label [for]="field.name" class="form-label">{{ field.label }}</label>
                            <input [id]="field.name" [formControlName]="field.name" class="form-control" />
                        </ng-container>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSaveEditChanges()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>