<div class="lego-pieces-container container-fluid">
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h1 class="mb-3">Piezas de Lego</h1>
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal">Agregar Nueva
                Pieza</button>
        </div>
    </div>

    <div class="row mb-4 justify-content-center">
        <div class="col-md-3 mb-2">
            <select class="form-select" (change)="onSearchByChange($event)">
                <option value="" disabled selected>Seleccionar...</option>
                <option *ngFor="let option of options" [value]="option">{{ option }}</option>
            </select>
        </div>
        <div class="col-md-5 mb-2">
            <div class="search-by-container">
                <input #searchByInput type="text" class="form-control search-by" placeholder="Buscar..."
                    (input)="onSearchResult($event)" />
                <img src="https://img.icons8.com/ios/50/cancel.png" alt="cancel" (click)="onClearSearch()"
                    class="cancel-icon" />
            </div>
        </div>
    </div>

    <div class="row mb-4 justify-content-center" *ngIf="showResults">
        <div class="col-md-6 search-results">
            <ul>
                <li *ngFor="let result of searchResults" (click)="onSelectOption(result)">
                    {{ result }}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12 lego-table">
            <table class="table table-striped table-hover" *ngIf="showTable">
                <thead class="table-dark text-center">
                    <tr>
                        <th *ngFor="let header of tableHeaders">{{ header }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lego of legoResults">
                        <ng-container *ngFor="let body of tableBody">
                            <td *ngIf="body.type === 'image'" class="text-center image-cell">
                                <img [src]="lego[body.name]"
                                    [alt]="body.name === 'imagePiece' ? 'Imagen de la Pieza' : 'Imagen del Set'" />
                            </td>
                            <td *ngIf="body.type === 'text' || body.type === 'number'" class="text-center">
                                {{ lego[body.name] }}
                            </td>
                            <td *ngIf="body.type === 'actions'" class="text-center">
                                <div class="d-flex flex-column gap-2">
                                    <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#editModal" (click)="onEditLego(lego)">Editar</button>
                                    <button class="btn btn-sm btn-outline-danger"
                                        (click)="deleteLego(lego.id)">Eliminar</button>
                                </div>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
            <div class="text-center" *ngIf="isLoading">
                <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Cargando...</span>
                </div>
            </div>
        </div>
    </div>
</div>