.lego-pieces-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.lego-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 30px;
        margin: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    button {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: #007bff;
        color: white;
        padding: 5px 10px;
        font-size: 16px;
    }
}

.lego-search {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .search-code {
        input {
            width: 100%;
            height: 70%;
            border-radius: 10px;
            border: 1px solid #ccc;
            padding: 5px 10px;
            font-size: 16px;
        }
    }

    .search-by {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 5px;
        background-color: #f8f9fa;
        position: relative;

        select {
            width: 70%;
            height: 70%;
            padding: 5px 10px;
            font-size: 16px;
            border: none;
            background-color: transparent;
        }

        input {
            width: 100%;
            height: 70%;
            padding: 5px 10px;
            font-size: 16px;
            border: none;
            background-color: transparent;
        }
    }

    .search-by-results {
        position: absolute;
        top: 100%; // Posiciona los resultados justo debajo del search-by
        right: 0;
        width: 30%;
        background: white;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 100; // Asegura que aparezca por encima de otros elementos
        max-height: 200px;
        overflow-y: auto; // Scroll si hay muchos resultados

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 8px 12px;
                cursor: pointer;

                &:hover {
                    background-color: #f5f5f5;
                }
            }
        }
    }
}

.lego-table {
    width: 100%;
    overflow: auto;
    max-height: calc(100vh - 100px);

    table {
        width: 100%;
        border-collapse: collapse;

        thead th {
            position: sticky;
            top: 0;
            background: white;
            z-index: 2;
        }

        th,
        td {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #ddd;
            font-size: 16px;
            font-family: Georgia, 'Times New Roman', Times, serif
        }

        tbody {
            .image-cell {
                display: flex;
                align-items: center;
                justify-content: center;

                &.pieza {
                    width: 100px;
                    height: 100px;
                }

                &.set {
                    width: 150px;
                    height: 150px;
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                }
            }

            .actions {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 10px;
            }
        }
    }
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    gap: 20px;
}